<div class="pure-u-1 pure-u-md-1-4">
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>LMS</h4>
    </div>
  </div>
  <div class="r-box">
    <a href="{% url 'exam.course.list' %}" class="pure-menu-link">
      <i class="fa fa-graduation-cap fa-fw"></i>
      Courses
    </a>
  </div>
  <div class="r-box">
    <a href="{% url 'exam.class.information.list' %}" class="pure-menu-link">
      <i class="fa fa-graduation-cap fa-fw"></i>
      Diploma Classes
    </a>
  </div>
  <div class="r-box">
    <a href="{% url 'exam.unit.list' %}" class="pure-menu-link">
      <i class="fa fa-graduation-cap fa-fw"></i>
      Units
    </a>
  </div>
  <div class="r-box">
    <a href="{% url 'exam.list' %}" class="pure-menu-link">
      <i class="fa fa-institution fa-fw"></i>
      Tests
    </a>
  </div>
  <div class="r-box">
    <a href="{% url 'exam.settings' %}" class="pure-menu-link">
      <i class="fa fa-institution fa-fw"></i>
      Test settings
    </a>
  </div>
</div>
