<style>
  .correct-answer {text-decoration: underline;}
  .user-selection {font-style: italic;}
</style>

<table class="pure-table pure-table-bordered">
  <tbody>
    <tr valign="top">
      <td>
      </td>
      <td colspan="2">
        <strong>
          The following information applies as you progress through the
          test answering questions and after you submit it for marking.
        </strong>
        <br>1) A cross indicates a wrong answer
        <br>2) A tick indicates a correct answer
        <br>3) Italics indicate the answer you selected
        <br>4) Underlining indicates the correct answer (this is only shown
        once you have passed the test)
        <br>
        <br>
      </td>
    </tr>
    {% for question in results_in_full.questions %}
      <tr valign="top">
        <td>
          {{ question.number }}
        </td>
        <td colspan="2">
          {{ question.question }}
        </td>
      </tr>
      {% for option in question.options %}
        <tr valign="top">
          <td>
          </td>
          <td>
            {% if option.user_selection %}
              {% if question.right %}
                <i class="fa fa-check"></i>
              {% elif question.wrong %}
                <i class="fa fa-times"></i>
              {% endif %}
            {% endif %}
          </td>
          <td>
            {% if option.correct_answer %}
              <span class="correct-answer">
            {% endif %}
            {% if option.user_selection %}
              <span class="user-selection">
            {% endif %}
            - {{ option.option }}
            {% if option.correct_answer %}
              </span>
            {% endif %}
            {% if option.user_selection %}
              </span>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      <tr><td colspan="3"><br></td></tr>
    {% endfor %}
  </tbody>
</table>
