{% extends "dash/base.html" %}

{% block title %}
  Edit Assessment
{% endblock title %}

{% block sub_heading %}
  Edit Assessment
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            {% if object %}
              <a href="{% url 'exam.unit.detail' object.unit.pk %}" class="pure-menu-link">
            {% else %}
              <a href="{% url 'exam.unit.detail' unit.pk %}" class="pure-menu-link">
            {% endif %}
            <i class="fa fa-reply"></i>
            Course Assessments
          </a>
        </li>
      </ul>
    </div>
  </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <tbody>
          {% if courses_for_unit %}
            <tr valign="top">
              <td>
                <strong>Courses</strong>
              </td>
              <td>
                <ul>
                  {% for course_unit in courses_for_unit %}
                    <li>
                      {{ course_unit.course.name }}
                    </li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
          {% endif %}
          <tr valign="top">
            <td>
              <strong>Unit</strong>
            </td>
            <td>
              {% if object %}
                {{ object.unit.name }}
              {% else %}
                {{ unit.name }}
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      {% include '_form.html' with aligned=True multipart=True %}
    </div>
  </div>
{% endblock content %}
