{% extends "base/base.html" %}

{% block heading %}
  Diploma Classes
{% endblock heading %}

{% block sub_title %}
  Diploma Classes
{% endblock sub_title %}

{% block sub_heading %}
  Start Dates
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'exam.class.information.create' %}" class="pure-menu-link">
              <i class="fa fa-institution"></i>
              Add Diploma Class
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% regroup object_list by course as objects_by_course %}
  <div class="pure-g">
    {% for o in objects_by_course %}
      <div class="pure-u-1-3">
        <div class="l-box">
          <table class="pure-table pure-table-bordered">
            <thead>
              <tr>
                <th>{{ o.grouper }}</th>
              </tr>
            </thead>
            <tbody>
              {% for start_date in o.list %}
                <tr valign="top">
                  <td>
                    {{ start_date.start_date|date:'d/m/Y' }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}
