{% extends "dash/base.html" %}

{% block sub_title %}
  Diploma Course
{% endblock sub_title %}

{% block sub_heading %}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-2-3">
      <div class="l-box">
        {% include '_form.html' with aligned=True %}
      </div>
    </div>
  </div>
{% endblock content %}
