{% extends "dash/base.html" %}

{% block title %}
  {% if object %}
    Update {{ object.name }}
  {% else %}
    Create Course
    {% if contact %}
      for
      {{ contact.full_name }}
    {% endif %}
  {% endif %}
{% endblock title %}

{% block sub_heading %}
  {% if object %}
    Update {{ object.name }}
  {% else %}
    Create Course
    {% if contact %}
      for
      {{ contact.full_name }}
    {% endif %}
  {% endif %}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            {% if contact %}
              <a href="{% url 'user.redirect.contact' contact.user.pk %}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
                Student Detail
              </a>
            {% else %}
              {% if object %}
                <a href="{% url 'exam.course.detail' object.pk %}" class="pure-menu-link">
                  <i class="fa fa-reply"></i>
                  Course
                </a>
              {% else %}
                <a href="{% url 'exam.course.list' %}" class="pure-menu-link">
                  <i class="fa fa-reply"></i>
                  Courses
                </a>
              {% endif %}
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' %}
    </div>
  </div>
{% endblock content %}

{% block script_extra %}
  {{ block.super }}
  {% include 'base/_chosen.html' %}
  {% include 'base/_ckeditor.html' %}
{% endblock script_extra %}
