{% extends "dash/base.html" %}

{% block title %}
  Update {{ object.unit.name }} for {{ object.course.name }}
{% endblock title %}

{% block sub_heading %}
  Update {{ object.unit.name }} for {{ object.course.name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'exam.course.detail' object.course.pk %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Course
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <p>
        Update
        <strong>
          {{ object.name }}
        </strong>
        for
        <strong>
          {{ object.course.name }}
        </strong>
        course.
      </p>
      {% include '_form.html' %}
    </div>
  </div>
{% endblock content %}

{% block script_extra %}
  {{ block.super }}
  {% include 'base/_chosen.html' %}
{% endblock script_extra %}
