{% extends "dash/base.html" %}

{% block title %}
  Link unit to '{{ course.name }}' course.
{% endblock title %}

{% block sub_heading %}
  Link unit to '{{ course.name }}' course.
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'exam.course.detail' course.pk %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Course
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <p>
        Link unit to
        <strong>
          '{{ course.name }}'
        </strong>
        course.
      </p>
      {% include '_form.html' %}
    </div>
  </div>
{% endblock content %}

{% block script_extra %}
  {{ block.super }}
  {% include 'base/_chosen.html' %}
{% endblock script_extra %}
