{% extends 'dash/base.html' %}

{% block sub_title %}
  Delete {{ object }}
{% endblock sub_title %}

{% block sub_heading %}
  Delete {{ object }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'exam.course.list' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Courses
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <p>
        <i class="fa fa-warning"></i>
        Are you sure you want to delete the '<strong>{{ object.name }}</strong>' course?
      </p>
      {% include '_form.html' with submit='Delete Course' %}
    </div>
  </div>
{% endblock content %}
