{% extends "dash/base.html" %}
{% load thumbnail %}

{% block title %}
  Units for {{ course.name }}
{% endblock title %}

{% block sub_heading %}
  Units for {{ course.name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{{ back_url }}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              {{ caption_back }}
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'exam.course.unit.create' course.pk %}" class="pure-menu-link">
              <i class="fa fa-plus"></i>
              Attach Unit
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <tbody>
          <tr valign="top">
            <td>
              <strong>Course</strong>
            </td>
            <td>
              <a href="{% url 'exam.course.update' course.pk %}">
                <i class="fa fa-edit"></i>
                {{ course.name }}
              </a>
              {% if course.is_tailored %}
                <small>
                  (Tailored Course)
                </small>
              {% endif %}
            </td>
          </tr>
          {% if course.title %}
            <tr valign="top">
              <td>
                <strong>Title</strong>
              </td>
              <td>
                {{ course.title }}
              </td>
            </tr>
          {% endif %}
          {% if course.description %}
            <tr valign="top">
              <td>
                <strong>Description</strong>
              </td>
              <td>
                {% autoescape off %}
                  {{ course.description }}
                {% endautoescape %}
              </td>
            </tr>
          {% endif %}
          {% with course.wizard_urls as wizard_urls %}
            {% if wizard_urls|length %}
              {% for url in wizard_urls %}
                <tr valign="top">
                  <td>
                    <a href="{{ url.url }}">
                      <i class="{{ url.class }}"></i>
                      {{ url.caption }}
                    </a>
                  </td>
                  <td>
                    {% if url.field_name == "picture" %}
                      {% if course.picture %}
                        <img src="{% thumbnail course.picture.image '150x0' %}">
                      {% endif %}
                    {% elif url.field_name == "banner" %}
                      {% if course.banner %}
                        <img src="{% thumbnail course.banner.image '150x0' %}">
                      {% endif %}
                    {% elif url.field_name == "banner_mobile" %}
                      {% if course.banner_mobile %}
                        <img src="{% thumbnail course.banner_mobile.image '150x0' %}">
                      {% endif %}
                    {% endif %}
                  </td>
              {% endfor %}
            {% endif %}
          {% endwith %}
          <tr valign="top">
            <td>
              <strong>Guidance</strong>
            </td>
            <td>
              <a href="{{ course_guidance.get_update_url }}">
                <i class="fa fa-edit"></i>
                {% if course_guidance.has_guidance %}
                  {{ course_guidance.get_caption }}
                {% else %}
                  (No Guidance)
                {% endif %}
              </a>
            </td>
          </tr>
          <tr valign="top">
            <td>
              <strong>Products</strong>
            </td>
            <td>
              {% if course_products.exists %}
                <ul>
                  {% for course_product in course_products %}
                    <li>
                      {{ course_product.product.name }}
                    </li>
                  {% endfor %}
                </ul>
              {% else %}
                <i class="fa fa-warning"></i>
                Course is not linked to any products (for enrolment)
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Order</th>
            <th>Core</th>
            <th>Unit</th>
            <th>Product</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for course_unit in course_units %}
            <tr valign="top">
              <td>
                <a href="{% url 'exam.course.unit.update' course_unit.pk %}">
                  <i class="fa fa-edit"></i>
                  {{ course_unit.order }}
                </a>
              </td>
              <td>
                {% if course_unit.core %}
                  Yes
                {% endif %}
              </td>
              <td>
                <a href="{% url 'exam.course.unit.update' course_unit.pk %}">
                  <i class="fa fa-edit"></i>
                  {{ course_unit.name }}
                  <small>
                    ({{ course_unit.unit.name }})
                  </small>
                </a>
              </td>
              <td>
                {% if course_unit.product %}
                  {{ course_unit.product }}
                {% endif %}
              </td>
              <td>
                {% if course_unit.product %}
                  {{ course_unit.product.price }}
                {% endif %}
              </td>
              <td>
                <small>
                  <a href="{% url 'exam.course.unit.delete' course_unit.pk %}">
                    <i class="fa fa-times"></i>
                    Remove Unit from Course
                  </a>
                </small>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
