{% extends "dash/base.html" %}

{% block title %}
  Courses
{% endblock title %}

{% block sub_heading %}
  Courses
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'lms.dash' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              LMS Homepage
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'exam.course.create' %}" class="pure-menu-link">
              <i class="fa fa-plus"></i>
              New Course
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Course</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in object_list %}
            <tr valign="top">
              <td>
                <a href="{% url 'exam.course.detail' obj.pk %}">
                  {{ obj.name }}
                </a>
              </td>
              <td>
                <a href="{% url 'exam.course.delete' obj.pk %}">
                  <i class="fa fa-trash-o"></i>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
