{% extends 'dash/base.html' %}

{% block sub_title %}
  Remove unit '{{ object.unit.name }}' from '{{ object.course.name }}'
{% endblock sub_title %}

{% block sub_heading %}
  Remove unit '{{ object.unit.name }}' from '{{ object.course.name }}'
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'exam.course.detail' object.course.pk %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              {{ object.course.name }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <p>
        <i class="fa fa-warning"></i>
        Are you sure you want to remove the '<strong>{{ object.unit.name }}</strong>' unit
        from the '{{ object.course.name }}' course?
      </p>
      {% include '_form.html' with submit='Remove Unit' %}
    </div>
  </div>
{% endblock content %}
