{% extends 'dash/base.html' %}

{% block sub_title %}
  Exam
{% endblock sub_title %}

{% block sub_heading %}
  {{ exam.name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a class="pure-menu-link" href="{% url 'exam.list' %}">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          <li class="pure-menu-item">
            <a class="pure-menu-link" href="{% url 'exam.update' exam.pk %}">
              <i class="fa fa-edit"></i>
              Edit
            </a>
          </li>
          <li class="pure-menu-item">
            <a class="pure-menu-link" href="{% url 'exam.version.detail' edit_version.pk %}">
              <i class="fa fa-edit"></i>
              Edit Questions and Publish
            </a>
          </li>
        </ul>
      </div>
      <h2>
        {{exam.name}}
      </h2>
      {% if exam.description %}
        {{ exam.description|linebreaks }}
      {% endif %}
      {% if products %}
        <strong>
          Courses
        </strong>
        <br>
        Students enrolled on these courses will be able to take the test:
        <ul>
          {% for product in products %}
            <li>
              {{ product.name }}
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <strong>
          Please 'Edit' and select the courses for this test.
        </strong>
        <br>
      {% endif %}
      <strong>
        Published versions
      </strong>
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Published</th>
            <th>Active Tests</th>
            <th>Total Tests</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          {% for exam_version in exam_versions %}
            <tr valign="top">
              <td>
                {{ exam_version.date_published|date:'d/m/Y H:i' }}
              </td>
              <td align="right">
                {% if exam_version.active %}
                  <a href="{% url 'exam.version.user.list' exam_version.pk %}">
                    {{ exam_version.active }}
                  </a>
                {% else %}
                  {{ exam_version.active }}
                {% endif %}
              </td>
              <td align="right">
                {% if exam_version.total %}
                  <a href="{% url 'exam.version.user.list' exam_version.pk %}">
                    {{ exam_version.total }}
                  </a>
                {% else %}
                  {{ exam_version.total }}
                {% endif %}
              </td>
              <td>
                <small>
                  <a href="{% url 'exam.version.detail' exam_version.pk %}">
                    <i class="fa fa-edit"></i>
                    Edit questions...
                  </a>
                </small>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <small>
        Note: A large total is the result of moving old manual test results
        to the online test system.
      </small>
    </div>
  </div>
{% endblock content %}
