{% extends 'exam/base.html' %}

{% block sub_title %}
  Exam
{% endblock sub_title %}

{% block sub_heading %}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a class="pure-menu-link" href="{% url 'exam.detail' object.exam.pk %}">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% if can_publish and is_valid %}
        Publish {{ object.exam.name }}
        {% include '_form.html' with submit='Publish' %}
      {% endif %}
      {% if not can_publish %}
        <i class="fa fa-warning"></i>
        <strong>{{ object.exam.name }} cannot be published.</strong>
        <br>
        <br>
        {{ message }}
      {% endif %}
      {% if not is_valid %}
        <p>
          <i class="fa fa-warning"></i>
          The test cannot be published until course permissions have been
          assigned.
        </p>
        <p>
          <a href="{% url 'exam.update' object.pk %}">
            <i class="fa fa-edit"></i>
            Click here to edit the test and add course permissions.
          </a>
        </p>
      {% endif %}
    </div>
  </div>
{% endblock content %}
