{% extends 'dash/base.html' %}

{% block sub_title %}
  Exam Version
{% endblock sub_title %}

{% block sub_heading %}
  {{ object.exam.name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a class="pure-menu-link" href="{% url 'exam.detail' object.exam.pk %}">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          {% if can_publish %}
            <li class="pure-menu-item">
              <a class="pure-menu-link" href="{% url 'exam.version.publish' object.pk %}">
                <i class="fa fa-tags"></i>
                Publish
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
      <h2>
        {{ object.exam.name }}
      </h2>
      {% if object.date_published %}
        <span class="message-warning">
          <i class="fa fa-warning"></i>
          Published on {{ object.date_published|date:'d/m/Y H:i' }}
        </span>
      {% endif %}
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Question</th>
            <th>Option</th>
            <th>Answer</th>
          </tr>
        </thead>
        <tbody>
          {% for question in questions %}
            <tr valign="top">
              <td colspan="2">
                <a href="{% url 'exam.question.update' question.pk %}">
                  <i class="fa fa-edit"></i>
                  {{ question.number }}.
                  {{ question.question|default:'Click here to edit...' }}
                </a>
              </td>
              <td>
              </td>
            </tr>
            {% for option in question.options %}
              <tr valign="top">
                <td>
                </td>
                <td>
                  {{ option.number }}.
                  {{ option.option }}
                </td>
                <td>
                  {% if question.answer %}
                    {% if question.answer == option %}
                      <i class="fa fa-check"></i>
                    {% else %}
                      <i class="fa fa-times"></i>
                    {%endif %}
                  {%endif %}
                </td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
