{% extends 'exam/base.html' %}

{% block sub_title %}
  Exam Questions
{% endblock sub_title %}

{% block sub_heading %}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a class="pure-menu-link" href="{% url 'exam.version.detail' object.exam_version.pk %}">
              <i class="fa fa-reply"></i>
              Exam Questions
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' with legend='Question' formset_legend='Answer' %}
    </div>
  </div>
{% endblock content %}
