{% extends "dash/base.html" %}

{% block title %}
  Update exam for {{ object.unit.name }}
{% endblock title %}

{% block sub_heading %}
  Update exam for {{ object.unit.name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'exam.unit.detail' unit.pk %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Unit
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' %}
    </div>
  </div>
{% endblock content %}
