{% extends 'dash/base.html' %}

{% block sub_title %}
  Delete {{ object.name }}
{% endblock sub_title %}

{% block sub_heading %}
  Delete {{ object.name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'exam.unit.list' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Units
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <p>
        <i class="fa fa-warning"></i>
        Are you sure you want to delete the '<strong>{{ object.name }}</strong>' unit
        {% if courses_for_unit %}
          for the following courses:
        {% endif %}
      </p>
      {% if courses_for_unit %}
        <ul>
          {% for course_unit in courses_for_unit %}
            <li>
              <a href="{% url 'exam.course.detail' course_unit.course.pk %}">
                {{ course_unit.course.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% include '_form.html' with submit='Delete Unit' %}
    </div>
  </div>
{% endblock content %}
