{% extends "dash/base.html" %}
{% load thumbnail %}

{% block title %}
  Unit {{ unit.name }}
{% endblock title %}

{% block sub_heading %}
  Unit {{ unit.name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'exam.unit.list' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Units
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'exam.assessment.create' unit.pk %}" class="pure-menu-link">
              <i class="fa fa-plus"></i>
              New Assessment
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <tbody>
          <tr valign="top">
            <td>
              <strong>Unit</strong>
            </td>
            <td>
              <a href="{% url 'exam.unit.update' unit.pk %}">
                <i class="fa fa-edit"></i>
                {{ unit.name }}
              </a>
            </td>
          </tr>
          {% if unit.description %}
            <tr valign="top">
              <td>
                <strong>Description</strong>
              </td>
              <td>
                {% autoescape off %}
                  {{ unit.description }}
                {% endautoescape %}
              </td>
            </tr>
          {% endif %}
          <tr valign="top">
            <td>
              <strong>Assignment or Assessment</strong>
            </td>
            <td>
              {{ assignment_or_assessment }}
            </td>
          </tr>
          {% if courses_for_unit %}
            <tr valign="top">
              <td>
                <strong>Courses</strong>
              </td>
              <td>
                The '<strong>{{ unit.name }}</strong>' unit is linked to the following course(s):
                <ul>
                  {% for course_unit in courses_for_unit %}
                    <li>
                      <a href="{% url 'exam.course.detail' course_unit.course.pk %}">
                        {{ course_unit.course.name }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
          {% endif %}
          {% with unit.wizard_urls as wizard_urls %}
            {% if wizard_urls|length %}
              {% for url in wizard_urls %}
                <tr valign="top">
                  <td>
                    <a href="{{ url.url }}">
                      <i class="{{ url.class }}"></i>
                      {{ url.caption }}
                    </a>
                  </td>
                  <td>
                    {% if url.field_name == "picture" %}
                      {% if unit.picture %}
                        <img src="{% thumbnail unit.picture.image '150x0' %}">
                      {% endif %}
                    {% elif url.field_name == "banner" %}
                      {% if unit.banner %}
                        <img src="{% thumbnail unit.banner.image '150x0' %}">
                      {% endif %}
                    {% elif url.field_name == "banner_mobile" %}
                      {% if unit.banner_mobile %}
                        <img src="{% thumbnail unit.banner_mobile.image '150x0' %}">
                      {% endif %}
                    {% endif %}
                  </td>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </tbody>
      </table>
      <br>
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Assessment</th>
            <th>Order</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in unit.assessments %}
            <tr valign="top">
              <td>
                <a href="{% url 'exam.assessment.update' obj.pk %}">
                  <i class="fa fa-edit"></i>
                  {{ obj.name }}
                </a>
              </td>
              <td>
                {{ obj.order }}
              </td>
              <td>
                <a href="{% url 'exam.assessment.delete' obj.pk %}">
                  <i class="fa fa-trash-o"></i>
                </a>
              </td>
            </tr>
          {% endfor %}
          <tr valign="top" class="pure-table-odd">
            <td colspan="3">
              Test
            </td>
          </tr>
          {% for x in unit.unit_exams %}
            <tr valign="top">
              <td>
                <a href="{% url 'exam.unit.exam.update' x.unit.pk %}">
                  <i class="fa fa-edit"></i>
                  {{ x.exam.name }}
                </a>
              </td>
              <td>
              </td>
              <td>
                <a href="{% url 'exam.unit.exam.delete' x.pk %}">
                  <i class="fa fa-trash-o"></i>
                </a>
              </td>
            </tr>
          {% empty %}
            <tr valign="top">
              <td>
                <a href="{% url 'exam.unit.exam.update' unit.pk %}">
                  <i class="fa fa-edit"></i>
                  Link achievement test
                </a>
              </td>
              <td>
              </td>
              <td>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
