{% extends "dash/base.html" %}

{% block title %}
  {% if object %}
    Edit {{ object.name }}
  {% else %}
    Create Unit
  {% endif %}
{% endblock title %}

{% block sub_heading %}
  {% if object %}
    Edit {{ object.name }}
  {% else %}
    Create Unit
  {% endif %}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'exam.unit.list' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              List of Units
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' with multipart=True %}
    </div>
  </div>
{% endblock content %}

{% block script_extra %}
  {{ block.super }}
  {% include 'base/_chosen.html' %}
  {% include 'base/_ckeditor.html' %}
{% endblock script_extra %}
