{% extends "dash/base.html" %}
{% load thumbnail %}

{% block title %}
  Course Material
  {% if course %}
    for {{ course.name }}
  {% endif %}
{% endblock title %}

{% block sub_heading %}
  Course Material
  {% if course %}
    for {{ course.name }}
  {% endif %}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'lms.dash' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              LMS Homepage
            </a>
          </li>
          {# Units should be created separately to the courses #}
          {# https://www.kbsoftware.co.uk/crm/ticket/5604/ #}
          {% if not course %}
            <li class="pure-menu-item">
              <a href="{% url 'exam.unit.create' %}" class="pure-menu-link">
                <i class="fa fa-plus"></i>
                New Unit
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% if course %}
        <table class="pure-table pure-table-bordered" width="100%">
          <tbody>
            <tr valign="top">
              <td>
                <strong>Course</strong>
              </td>
              <td>
                {{ course.name }}
              </td>
            </tr>
            <tr valign="top">
              <td>
                {% with course.wizard_urls as wizard_urls %}
                  {% if wizard_urls|length %}
                    {% for url in wizard_urls %}
                      <a href="{{ url.url }}">
                        <i class="{{ url.class }}"></i>
                        {{ url.caption }}
                      </a>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
              </td>
              <td>
                {% if course.picture %}
                  <img src="{% thumbnail course.picture.image '150x0' %}">
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
        <br>
      {% endif %}
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Unit</th>
            <th>Assignment or Assessment</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in object_list %}
            <tr valign="top">
              <td>
                <a href="{% url 'exam.unit.detail' obj.pk %}">
                  {{ obj.name }}
                </a>
              </td>
              <td>
                {% if obj.count_assessment %}
                  {{ obj.get_assignment_or_assessment|title }}
                {% endif %}
              </td>
              <td>
                <a href="{% url 'exam.unit.delete' obj.pk %}">
                  <i class="fa fa-trash-o"></i>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
