{% extends 'dash/base.html' %}

{% block sub_title %}
  Mark User Unit
{% endblock sub_title %}

{% block sub_heading %}
  Mark User Unit
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'exam.user.unit.detail' object.pk %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Unit
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% if userunit.assessed %}
        <i class="fa fa-warning"></i>
        This unit has been assessed.
        <br>
      {% endif %}
      <i class="fa fa-info-circle"></i>
      You are marking '{{ userunit.unit.name }}'
      for: '{{ userunit.user_course.course.name }}'
      for <strong>{{ userunit.user_course.user.get_full_name }}</strong>.
      {% include '_form.html' with submit='Submit...' %}
    </div>
  </div>
{% endblock content %}
