{% extends "dash/base.html" %}

{% block title %}
  All Marking
{% endblock title %}

{% block sub_heading %}
  All Marking
{% endblock sub_heading %}


{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            {% if is_team_member_not_staff %}
            {% else %}
              <a href="{% url 'lms.dash' %}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
                LMS Homepage
              </a>
            {% endif %}
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'exam.user.course.list.to.mark' %}" class="pure-menu-link">
              <i class="fa fa-graduation-cap"></i>
              Assessor Area
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Student</th>
            <th>Course</th>
            <th>Unit</th>
            <th>Created</th>
            <th>Assessor</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody>
          {% for user_course in usercourse_list %}
            {% for line in user_course.user_units_marking %}
              <tr valign="top">
                <td>
                  <a href="{% url 'user.redirect.contact' user_course.user.pk %}">
                    {{ user_course.user.get_full_name }}
                  </a>
                </td>
                <td>
                  <a href="{% url 'exam.user.course.detail' user_course.pk %}">
                    {{ user_course.course.name }}
                  </a>
                </td>
                <td>
                  <a href="{% url 'exam.user.unit.detail' line.user_unit_pk %}">
                    {{ line.unit_name }}
                  </a>
                </td>
                <td>
                  {{ line.result_assessed }}
                </td>
                <td>
                  {{ line.result_assessor }}
                </td>
                <td>
                  {{ line.result }}
                </td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
