{% extends 'dash/base.html' %}

{% block sub_title %}
  Test Result
{% endblock sub_title %}

{% block sub_heading %}
{% endblock sub_heading %}

{% block content %}
  {% if next %}
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="pure-menu pure-menu-horizontal">
          <ul class="pure-menu-list">
            <li class="pure-menu-item">
              <a class="pure-menu-link" href="{{ next }}">
                <i class="fa fa-reply"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="pure-g">
    <div class="pure-u-1">
      <p>
        <strong>
          {{ product.name }}
        </strong>
        <br>
        <br>
        Create test result for
        <strong>
          {{ exam_version.exam.name }}
        </strong>
        for
        <a href="{% url 'user.redirect.contact' user.pk %}">
          {{ user.get_full_name }}.
        </a>
        <br>
        <br>
        Note:
        You are manually entering a result into the database.
        The student will not be able to enter the online version of the test.
      </p>
      {% include '_form.html' with legend='Test Result' %}
    </div>
  </div>
{% endblock content %}
