{% extends "dash/base.html" %}

{% block title %}
  Students
{% endblock title %}

{% block sub_heading %}
  Students
{% endblock sub_heading %}


{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'lms.dash' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              LMS Homepage
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Course</th>
            <th>Student</th>
            <th>Created</th>
            <th>Assessor</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody>
          {% for x in usercourse_list %}
            <tr valign="top">
              <td>
                <a href="{% url 'exam.user.course.detail' x.pk %}">
                  {{ x.course.name }}
                </a>
              </td>
              <td>
                <a href="{% url 'user.redirect.contact' x.user.pk %}">
                  {{ x.user.get_full_name }}
                  <small>({{ x.user.username }})</small>
                </a>
              </td>
              <td>
                {{ x.created|date:'d/m/Y H:i' }}
              </td>
              <td>
                {% if x.assessor %}
                  {{ x.assessor.get_full_name }}
                {% endif %}
              </td>
              <td>
                {% if x.assessed and x.result %}
                  {{ x.result }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
