{% extends 'dash/base.html' %}

{% block title %}
  Students taking {{ exam.name }}
{% endblock title %}

{% block sub_heading %}
  Students taking {{ exam.name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a class="pure-menu-link" href="{% url 'exam.detail' exam.pk %}">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      Version published
      {{ exam_version.date_published|date:'d/m/Y:H:i' }}
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>
              Created
            </th>
            <th>
              Student
            </th>
            <th>
              Marked
            </th>
            <th>
              Result
            </th>
          </tr>
        </thead>
        <tbody>
          {% for item in object_list %}
            <tr valign="top">
              <td>
                {{ item.created|date:'d/m/Y' }}
                <br>
                <small>
                  {{ item.created|date:'H:i' }}
                </small>
              </td>
              <td>
                <a href="{% url 'user.redirect.contact' item.user.pk %}">
                  {{ item.user.get_full_name }}
                </a>
              </td>
              <td>
                {% if item.date_marked %}
                  {{ item.date_marked|date:'d/m/Y H:i' }}
                  <br>
                  <small>
                    ({{ item.created|timesince:item.date_marked }})
                  </small>
                {% endif %}
              </td>
              <td>
                {% if item.result %}
                  <a href="{% url 'exam.user.version.result' item.pk %}">
                    {{ item.result_as_percent }}%
                    {% if item.is_fail %}
                      <i class="fa fa-warning"></i>
                    {% endif %}
                    <br>
                  </a>
                {% endif %}
                {% if item.previous_test %}
                  <small>
                    Retake ({{ item.previous_test.created|date:'d/m/Y' }})
                  </small>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a class="pure-menu-link" href="{% url 'exam.detail' exam.pk %}">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
