{% extends 'dash/base.html' %}

{% block sub_title %}
  Retake Comments
{% endblock sub_title %}

{% block sub_heading %}
  Retake Comments
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'exam.user.unit.detail' object.pk %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Unit
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      Retake comments for
      <strong>{{ userunit.user_course.user.get_full_name }}</strong>
      ('{{ userunit.unit.name }}'
      for '{{ userunit.user_course.course.name }}')
      {% include '_form.html' with submit='Submit...' %}
    </div>
  </div>
{% endblock content %}
