{% extends 'dash/base.html' %}

{% block sub_title %}
  Mark Assessment for
  {{ userassessment.user_unit.user_course.user.get_full_name }}
{% endblock sub_title %}

{% block sub_heading %}
  Mark Assessment for
  {{ userassessment.user_unit.user_course.user.get_full_name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'exam.user.unit.detail' userassessment.user_unit.pk %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Unit
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <tbody>
          <tr valign="top">
            <td>
              <strong>User</strong>
            </td>
            <td colspan="4">
              <a href="{% url 'user.redirect.contact' userassessment.user_unit.user_course.user.pk %}">
                {{ userassessment.user_unit.user_course.user.get_full_name }}
                <small>
                  ({{ userassessment.user_unit.user_course.user.username }})
                </small>
              </a>
            </td>
          </tr>
          <tr valign="top">
            <td>
              <strong>Course</strong>
            </td>
            <td colspan="4">
              {{ userassessment.user_unit.user_course.course.name }}
            </td>
          </tr>
          <tr valign="top">
            <td>
              <strong>
                Unit
              </strong>
            </td>
            <td colspan="4">
              {{ object.assessment.unit.name }}
            </td>
          </tr>
          <tr valign="top">
            <td>
              <strong>
                {{ object.user_unit.unit.get_assignment_or_assessment|capfirst }}
              </strong>
            </td>
            <td colspan="4">
              {{ object.assessment.name }}
            </td>
          </tr>
          {% if object.answer %}
            <tr valign="top">
              <td>
                <strong>
                  Answer
                </strong>
              </td>
              <td colspan="4">
                {{ object.answer }}
              </td>
            </tr>
          {% endif %}
          {% if object.answer_file %}
            <tr valign="top">
              <td>
                <strong>
                  Answer (Document)
                </strong>
              </td>
              <td colspan="4">
                <a href="{% url 'exam.user.assessment.download.answer.file' object.pk %}">
                  <i class="fa fa-cloud-download"></i>
                  Download '{{ object.answer_file_name }}'
                </a>
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% if object.user_unit.result %}
        <br>
        <i class="fa fa-warning"></i>
        This unit has been assessed.
      {% endif %}
      {% include '_form.html' %}
    </div>
  </div>
{% endblock content %}
