{% extends 'dash/base.html' %}

{% block sub_title %}
  {{ object.exam_version.exam.name }} Result for {{ object.user.get_full_name }}
{% endblock sub_title %}

{% block sub_heading %}
  {{ object.exam_version.exam.name }} Result for {{ object.user.get_full_name }}
{% endblock sub_heading %}

{% block content %}
  {% if next %}
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="pure-menu pure-menu-horizontal">
          <ul class="pure-menu-list">
            <li class="pure-menu-item">
              <a class="pure-menu-link" href="{{ next }}">
                <i class="fa fa-reply"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="pure-g">
    <div class="pure-u-1">
      <p>
        {{ object.exam_version.exam.name }} Result for
        <strong>
          {{ object.user.get_full_name }}
        </strong>
        submitted
        {{ object.date_marked|date:'l d/m/Y H:i' }}
      </p>
      {% include 'exam/_userexamversion_detail_question.html' %}
    </div>
  </div>
{% endblock content %}
