{% extends 'dash/base.html' %}

{% block sub_title %}
  Test Result
{% endblock sub_title %}

{% block sub_heading %}
{% endblock sub_heading %}

{% block content %}
  {% if next %}
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="pure-menu pure-menu-horizontal">
          <ul class="pure-menu-list">
            <li class="pure-menu-item">
              <a class="pure-menu-link" href="{{ next }}">
                <i class="fa fa-reply"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="pure-g">
    <div class="pure-u-1">
      <p>
        Update test result for
        <strong>
          {{ object.exam_version.exam.name }}
        </strong>
        for
        <a href="{% url 'user.redirect.contact' object.user.pk %}">
          {{ object.user.get_full_name }}.
        </a>
        <br>
        <br>
        Current result is <strong>{{ object.result_as_percent }}%</strong>.
        <br>
        {% if object.legacy_result %}
          Note:
          The original result was manually entered into the database.
        {% endif %}
      </p>
      {% include '_form.html' with legend='Test Result' %}
    </div>
  </div>
{% endblock content %}
