{% extends "dash/base.html" %}

{% block title %}
  Create Course for {{ contact.full_name }}
{% endblock title %}

{% block sub_heading %}
  Create Course for {{ contact.full_name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'user.redirect.contact' contact.user.pk %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Student Detail
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <tbody>
          <tr valign="top">
            <td>
              <strong>Student</strong>
            </td>
            <td>
              {{ contact.full_name }}
            </td>
          </tr>
          {% if course %}
            <tr valign="top">
              <td>
                <strong>Course</strong>
              </td>
              <td>
                <strong>
                  {{ course.name }}
                </strong>
              </td>
            </tr>
          {% endif %}
          {% if payment_details %}
            <tr valign="top">
              <td>
                <strong>Payment Details</strong>
              </td>
              <td>
                {{ payment_details }}
              </td>
            </tr>
          {% endif %}
          {% for course_unit in course_units_core %}
            <tr valign="top">
              <td>
                {% if forloop.first %}
                  <strong>Core Units</strong>
                {% endif %}
              </td>
              <td>
                <strong>
                  {{ course_unit.unit.name }}
                </strong>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include '_form.html' %}
    </div>
  </div>
{% endblock content %}

{% block script_extra %}
  {{ block.super }}
  {% include 'base/_chosen.html' %}
{% endblock script_extra %}
