{% extends 'dash/base.html' %}

{% block sub_title %}
  {{ object.course.name }}
{% endblock sub_title %}

{% block sub_heading %}
  {{ object.course.name }}
{% endblock sub_heading %}

{% block content %}
  <style>
    dl { border: none;  width: 100%; overflow: hidden; margin: 0; }
    dt { float: left; clear: left; width: 100px; font-weight: bold; }
    dd { white-space: nowrap; }
    dd { overflow: hidden; text-overflow: ellipsis; }
  </style>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'exam.user.course.list.to.mark' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Marking
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'exam.user.course.profile.update' object.pk %}" class="pure-menu-link">
              <i class="fa fa-edit"></i>
              Student Profile
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="r-box">
        <table width="100%" class="pure-table pure-table-bordered">
          <tbody>
            <tr valign="top">
              <td>
                <strong>Student</strong>
              </td>
              <td>
                <a href="{% url 'user.redirect.contact' object.user.pk %}">
                  {{ object.user.get_full_name }}
                  <small>
                    ({{ object.user.username }})
                  </small>
                </a>
              </td>
            </tr>
            <tr valign="top">
              <td>
                <strong>Course</strong>
              </td>
              <td colspan="5">
                {% if object.is_cancelled %}
                  <strong>Cancelled</strong>
                  <small>
                    {{ object.cancellation_date|date:'d/m/Y' }}
                  </small>
                  <br />
                {% endif %}
                {% if object.is_deleted %}
                  <del>
                {% endif %}
                {{ object.course.name }}
                {% if object.is_deleted %}
                  </del>
                  <small class="highlight">
                    <i class="fa fa-warning"></i>
                    (Deleted {{ object.date_deleted|date:'d/m/Y' }}
                    by {{ object.user_deleted.get_full_name }})
                  </small>
                {% endif %}
              </td>
            </tr>
            {% if object.selected_class %}
              <tr valign="top">
                <td>
                  <strong>Diploma Class</strong>
                </td>
                <td>
                  {{ object.selected_class.start_date|date:'d/m/Y' }}
                </td>
              </tr>
            {% endif %}
            <tr valign="top">
              <td>
                <strong>Enrolled</strong>
              </td>
              <td>
                {{ object.created|date:'d/m/Y' }}
              </td>
            </tr>
            {% if object.payment_details %}
              <tr valign="top">
                <td>
                  <strong>Payment</strong>
                </td>
                <td>{{ object.payment_details }}</td>
              </tr>
            {% endif %}
            {% if object.extension_expires %}
              <tr valign="top">
                <td>
                  <strong>Extension expires</strong>
                </td>
                <td>{{ object.extension_expires|date:"d/m/Y" }}</td>
              </tr>
            {% endif %}
            {% if object.performance_notes %}
              <tr valign="top">
                <td>
                  <strong>Performance</strong>
                </td>
                <td>{{ object.performance_notes|linebreaksbr }}</td>
              </tr>
            {% endif %}
            {% if object.additional_notes %}
              <tr valign="top">
                <td>
                  <strong>Additional</strong>
                </td>
                <td>{{ object.additional_notes|linebreaksbr }}</td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <table width="100%" class="pure-table pure-table-bordered">
        <tbody>
          {% for course_result in course_results %}
            {% if course_result.exam_pk %}
              <tr valign="top">
                <td>
                  {% if course_result.user_exam_version_pk %}
                    <a href="{% url 'exam.user.version.result' course_result.user_exam_version_pk %}?next={{ request.path }}">
                  {% endif %}
                  {{ course_result.description }}
                  {% if course_result.user_exam_version_pk %}
                    </a>
                  {% endif %}
                </td>
                <td>
                  {{ course_result.status }}
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <tbody>
          <tr valign="top" class="pure-table-odd">
            <td>
              <strong>Units</strong>
              (with assignments or assessments)
            </td>
            <td>
              <i class="fa fa-star"></i>
            </td>
            <td>
              <strong>Assessor</strong>
            </td>
            <td>
              <strong>Unit Comments</strong>
            </td>
            <td>
              <strong>Retake Comments</strong>
            </td>
            <td>
              <strong>Result</strong>
            </td>
          </tr>
          <!-- user_units -->
          {% for user_unit in user_units %}
            <tr valign="top">
              <td>
                <a href="{% url 'exam.user.unit.detail' user_unit.pk %}">
                  {{ user_unit.unit.name }}
                </a>
              </td>
              <td>
                {% if user_unit.can_mark %}
                  <i class="fa fa-star"></i>
                {% endif %}
              </td>
              <td>
                {% if user_unit.assessor %}
                  {{ user_unit.assessor.get_full_name }}
                {% endif %}
              </td>
              <td>
                {% if user_unit.submitted %}
                  Submitted
                  {{ user_unit.submitted|date:'d/m/Y' }}
                  <br>
                {% endif %}
                <small>
                  {{ user_unit.assessor_comments|linebreaksbr }}
                  {% if user_unit.assessed %}
                    ({{ user_unit.assessed|date:'d/m/Y' }})
                  {% endif %}
                </small>
              </td>
              <td>
                {% if user_unit.retake_submitted %}
                  Retake Submitted
                  {{ user_unit.retake_submitted|date:'d/m/Y' }}
                  <br>
                {% endif %}
                {% if user_unit.retake_comments %}
                  <small>
                    <br>
                    <i class="fa fa-fw fa-tags"></i>
                    <strong>
                      Retake:
                    </strong>
                    {{ user_unit.retake_comments|linebreaksbr }}
                  </small>
                {% endif %}
                {% if user_unit.retake_assessed %}
                  <small>
                    ({{ user_unit.retake_assessed|date:'d/m/Y' }})
                  </small>
                {% endif %}
              </td>
              <td>
                {% if user_unit.assessed %}
                  {{ user_unit.result }}
                {% endif %}
                {% if user_unit.result_assessed %}
                  <small>
                    ({{ user_unit.result_assessed|date:'d/m/Y' }})
                  </small>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          <tr valign="top" class="pure-table-odd">
            <td>
              <strong>
                Overall Course Result
              </strong>
            </td>
            <td colspan="4">
              <small>
                {{ usercourse.assessor_comments|linebreaksbr }}
              </small>
            </td>
            <td>
              <a href="{% url 'exam.user.course.update.result' usercourse.pk %}">
                <i class="fa fa-fw fa-edit"></i>
                {% if usercourse.result %}
                  <strong>
                    {{ usercourse.result }}
                  </strong>
                {% else %}
                  Result
                {% endif %}
              </a>
              {% if usercourse.assessed %}
                <small>
                  ({{ usercourse.assessed|date:'d/m/Y' }})
                </small>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
