{% extends 'dash/base.html' %}

{% block sub_title %}
  {{ userunit.user_course.course.name }}
{% endblock sub_title %}

{% block sub_heading %}
  {{ userunit.user_course.course.name }}
{% endblock sub_heading %}

{% block content %}
  <style>
    dl { border: none;  width: 100%; overflow: hidden; margin: 0; }
    dt { float: left; clear: left; width: 100px; font-weight: bold; }
    dd { white-space: nowrap; }
    dd { overflow: hidden; text-overflow: ellipsis; }
  </style>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'exam.user.course.detail' userunit.user_course.pk %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Course
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <tbody>
          <tr valign="top">
            <td>
              <strong>Student</strong>
            </td>
            <td colspan="5">
              <a href="{% url 'user.redirect.contact' userunit.user_course.user.pk %}">
                {{ userunit.user_course.user.get_full_name }}
                <small>
                  ({{ userunit.user_course.user.username }})
                </small>
              </a>
            </td>
          </tr>
          <tr valign="top">
            <td>
              <strong>Course</strong>
            </td>
            <td colspan="5">
              {{ userunit.user_course.course.name }}
            </td>
          </tr>
          <tr valign="top" class="pure-table-odd">
            <td>
              <strong>
                Unit {# need unit number in here, but not the pk #}
              </strong>
            </td>
            <td colspan="5">
              <strong>
                {{ userunit.unit.name }}
              </strong>
              {% if userunit.submitted %}
                submitted {{ userunit.submitted|date:'d/m/Y' }}
              {% endif %}
              {% if userunit.retake_submitted %}
                |
                Retake submitted {{ userunit.retake_submitted|date:'d/m/Y' }}.
              {% endif %}
            </td>
          </tr>
          {% if assessor %}
            <tr valign="top">
              <td>
                <strong>Assessor</strong>
              </td>
              <td colspan="5">
                <ol>
                  {% for row in assessor %}
                    <li>
                      <span class="errorlist">
                        {{ row }}
                      </span>
                    </li>
                  {% endfor %}
                </ol>
              </td>
            </tr>
          {% endif %}
          {% comment %}

            Note: The student may have taken this assessment multiple times!

            We have a very similar loop through 'UserUnit.assessments' in:
              lms/templates/lms/_assessment_list.html

            {% endcomment %}
          {% with userunit.assessments as assessments %}
            {% if assessments|length %}
              <tr class="pure-table-odd">
                <td>
                  <strong>
                    {{ object.unit.get_assignment_or_assessment|capfirst }}
                  </strong>
                </td>
                <td>
                  <strong>
                    Coursework
                  </strong>
                </small>
              </td>
              <td>
                {% if userunit.unit.is_assignment %}
                  Grade
                {% else %}
                  <i class="fa fa-warning"></i>
                {% endif %}
              </td>
              <td>
                <strong>
                  Retake
                </strong>
              </td>
              <td>
                {% if userunit.unit.is_assignment %}
                  Grade
                {% else %}
                  <i class="fa fa-warning"></i>
                {% endif %}
              </td>
              </tr>
              {% for row in assessments %}
                {% for user_assessment in row.user_assessments %}
                  <tr valign="top">
                    <td>
                      {{ row.assessment.name }}
                      <br>
                      <small class="errorlist">
                        {{ user_assessment.answer_button_caption }} /
                        {% if user_assessment.feedback_enabled_for_retake %}
                          Retake feedback
                        {% else %}
                          No retake feedback
                        {% endif %}
                        |
                        {% if user_assessment.feedback_enabled %}
                          Final feedback
                        {% else %}
                          No final feedback
                        {% endif %}
                      </small>
                    </td>
                    <td>
                      {% if user_assessment.answer_submitted %}
                        <a href="{% url 'exam.user.assessment.download.answer.file' user_assessment.pk %}">
                          <i class="fa fa-fw fa-cloud-download"></i>
                          Submitted
                          <small>
                            {{ user_assessment.answer_submitted|date:'d/m/Y' }}
                          </small>
                        </a>
                      {% endif %}
                      <a href="{% url 'exam.user.assessment.update' user_assessment.pk %}">
                        <br>
                        <i class="fa fa-fw fa-edit"></i>
                        {% if user_assessment.assessor_comments %}
                          <small>
                            {{ user_assessment.assessor_comments|linebreaksbr }}
                          </small>
                        {% else %}
                          Mark
                        {% endif %}
                      </a>
                      {% if user_assessment.assessor %}
                        <small>
                          ({{ user_assessment.assessed|date:'d/m/Y' }})
                        </small>
                      {% endif %}
                    </td>
                    <td>
                      {% if userunit.unit.is_assignment %}
                        {% if user_assessment.grade %}
                          {{ user_assessment.grade }}
                        {% endif %}
                      {% else %}
                        {% if user_assessment.has_passed %}
                          Pass
                        {% endif %}
                        {% if user_assessment.error_count %}
                          {{ user_assessment.error_count }}
                        {% endif %}
                      {% endif %}
                    </td>
                    <td>
                      {% if user_assessment.can_retake %}
                        <i class="fa fa-fw fa-tags"></i>
                        Retake requested
                        <small>
                          {{ user_assessment.can_retake_date|date:'d/m/Y' }}
                        </small>
                      {% else %}
                        No retake requested
                      {% endif %}
                      {% if user_assessment.can_retake and user_assessment.retake_submitted %}
                        <br>
                        <a href="{% url 'exam.user.assessment.download.retake.answer.file' user_assessment.pk %}">
                          <i class="fa fa-fw fa-cloud-download"></i>
                          Submitted
                          <small>
                            {{ user_assessment.retake_submitted|date:'d/m/Y' }}
                          </small>
                        </a>
                        <br>
                        <a href="{% url 'exam.user.assessment.update.retake' user_assessment.pk %}">
                          <i class="fa fa-fw fa-edit"></i>
                          {% if user_assessment.retake_comments %}
                            <small>
                              {{ user_assessment.retake_comments|linebreaksbr }}
                            </small>
                          {% else %}
                            Mark retake
                          {% endif %}
                        </a>
                        {% if user_assessment.retake_assessor %}
                          <small>
                            ({{ user_assessment.retake_assessed|date:'d/m/Y' }})
                          </small>
                        {% endif %}
                      {% endif %}
                    </td>
                    <td>
                      {% if user_assessment.can_retake and user_assessment.retake_submitted %}
                        {% if userunit.unit.is_assignment %}
                          {% if user_assessment.retake_grade %}
                            {{ user_assessment.retake_grade }}
                          {% endif %}
                        {% else %}
                          {% if user_assessment.retake_has_passed %}
                            Pass
                          {% endif %}
                          {% if user_assessment.retake_error_count %}
                            {{ user_assessment.retake_error_count }}
                          {% endif %}
                        {% endif %}
                      {% endif %}
                    </td>
                  </tr>
                {% empty %}
                  <tr valign="top">
                    <td>
                      {{ row.assessment.name }}
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                  </tr>
                {% endfor %}
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% if userunit.is_retake %}
            <tr valign="top" class="pure-table-odd">
              <td colspan="1">
                <strong>
                  Retake Comments
                </strong>
              </td>
              <td colspan="4">
                <a href="{% url 'exam.user.unit.update.comment.retake' userunit.pk %}">
                  <i class="fa fa-fw fa-edit"></i>
                  {% if userunit.retake_comments %}
                    <small>
                      {{ userunit.retake_comments|linebreaksbr }}
                    </small>
                  {% endif %}
                </a>
              </td>
            </tr>
          {% endif %}
          <tr valign="top" class="pure-table-odd">
            <td colspan="1">
              <strong>
                Result
              </strong>
            </td>
            <td colspan="4">
              <a href="{% url 'exam.user.unit.update.result' userunit.pk %}">
                <i class="fa fa-fw fa-edit"></i>
                {% if userunit.result %}
                  <strong>
                    {{ userunit.result }}
                  </strong>
                {% endif %}
              </a>
            </td>
          </tr>
          <tr valign="top" class="pure-table-odd">
            <td colspan="1">
              <strong>
                Unit Comments
              </strong>
            </td>
            <td colspan="4">
              <a href="{% url 'exam.user.unit.update.comment' userunit.pk %}">
                <i class="fa fa-fw fa-edit"></i>
                {% if userunit.assessor_comments %}
                  <small>
                    {{ userunit.assessor_comments|linebreaksbr }}
                  </small>
                {% endif %}
              </a>
              <br>
              <i class="fa fa-info-circle fa-fw"></i>
              {% if userunit.assessed %}
                Assessed {{ userunit.assessed|date:'d/m/Y' }}
              {% else %}
                Not Assessed
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
