{% extends 'dash/base.html' %}

{% block sub_title %}
  Mark User Course
{% endblock sub_title %}

{% block sub_heading %}
  Mark User Course
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'exam.user.course.detail' usercourse.pk %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'exam.user.course.list.to.mark' %}" class="pure-menu-link">
              <i class="fa fa-check"></i>
              Marking
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'exam.user.course.detail' usercourse.pk %}" class="pure-menu-link">
              <i class="fa fa-pencil"></i>
              User Course
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <i class="fa fa-info-circle"></i>
      You are marking '{{ usercourse.course.name }}'
      for <strong>{{ usercourse.user.get_full_name }}</strong>.
      {% include '_form.html' with submit='Submit Result...' %}
    </div>
  </div>
{% endblock content %}
