{% extends "dash/base.html" %}

{% block title %}
  Assessor Area
{% endblock title %}

{% block sub_heading %}
  Assessor Area
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% if user.is_staff %}
            <li class="pure-menu-item">
              <a href="{% url 'lms.dash' %}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
                LMS Homepage
              </a>
            </li>
          {% endif %}
          <li class="pure-menu-item">
            <a href="{% url 'exam.user.course.marking.list' %}" class="pure-menu-link">
              <i class="fa fa-graduation-cap"></i>
              All Marking
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Student</th>
            <th>Course</th>
            <th>Unit</th>
            <th>Submitted</th>
            <th>Mark</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in object_list %}
            <tr valign="top">
              <td>
                <a href="{% url 'user.redirect.contact' obj.user_pk %}">
                  {{ obj.full_name }}
                  <small>({{ obj.user_name }})</small>
                </a>
              </td>
              <td>
                <a href="{% url 'exam.user.course.detail' obj.user_course_pk %}">
                  {{ obj.course_name }}
                </a>
              </td>
              <td>
                {{ obj.unit_name }}
              </td>
              <td>
                {% if obj.is_retake %}
                  {{ obj.retake_submitted|date:'d/m/Y H:i' }}
                  <span class="highlight">
                    (Retake)
                  </span>
                {% else %}
                  {{ obj.submitted|date:'d/m/Y H:i' }}
                {% endif %}
              </td>
              <td>
                <a href="{% url 'exam.user.unit.detail' obj.user_unit_pk %}">
                  <i class="fa fa-check"></i>
                  Mark
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
