{% extends "dash/base.html" %}

{% block title %}
  LMS Home
{% endblock title %}

{% block sub_heading %}
  LMS Home
{% endblock sub_heading %}


{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'exam.course.list' %}" class="pure-menu-link">
              <i class="fa fa-graduation-cap"></i>
              Courses
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'exam.unit.list' %}" class="pure-menu-link">
              <i class="fa fa-graduation-cap"></i>
              Course Material
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'exam.user.course.list.to.mark' %}" class="pure-menu-link">
              <i class="fa fa-graduation-cap"></i>
              Assessor Area
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
