{% extends 'exam/base.html' %}

{% block sub_title %}
  Exam Question
{% endblock sub_title %}

{% block sub_heading %}
  Question
  {{ object.number }}
  of
  {{ object.exam_version.question_count }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a class="pure-menu-link" href="{% url 'exam.detail' object.exam_version.exam.pk %}">
              <i class="fa fa-reply"></i>
              Exam
            </a>
          </li>
          {% if question_prev %}
            <li class="pure-menu-item">
              <a class="pure-menu-link" href="{% url 'exam.student.question' question_prev.pk %}">
                <i class="fa fa-backward"></i>
                Previous Question
              </a>
            </li>
          {% endif %}
          {% if question_next %}
            <li class="pure-menu-item">
              <a class="pure-menu-link" href="{% url 'exam.student.question' question_next.pk %}">
                Next Question
                <i class="fa fa-forward"></i>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <strong>
        {{ object.exam_version.exam.name }}
      </strong>
      {% include '_form.html' with form_class='kb-hide-bullet' %}
      |
      {% for question, answered in question_state %}
        <a href="{% url 'exam.student.question' question.pk %}">
          {% if answered %}
            <small>
          {% else %}
            <strong>
          {% endif %}
          {{ question.number }}
          {% if answered %}
            </small>
          {% else %}
            </strong>
          {% endif %}
          |
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
