{% extends 'exam/base.html' %}

{% block sub_title %}
  User Exam
{% endblock sub_title %}

{% block sub_heading %}
  {{ object.exam_version.exam.name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <h2>
        {{ object.exam_version.exam.name }}
      </h2>
    </div>
  </div>
{% endblock content %}
